topics/*.html
documentation/*.html
documentation/*/*.html
topics/*/*.html
update_topics_bucket_old.py
site
upload_training_materials.py
.vscode/settings.json
# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib
lib64/
parts/
sdist/
var/
bin/
*.egg-info/
.installed.cfg
*.egg
pyvenv.cfg
lib64
# Virtual environments
venv/
ENV/
env/

# Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
