site_name: WIS2 in a box training
site_description: "WIS2 in a box (wis2box) is a Free and Open Source (FOSS) Reference Implementation of a WMO WIS2 Node. The project provides a plug and play toolset to ingest, process, and publish weather/climate/water data using standards-based approaches in alignment with the WIS2 principles. wis2box also provides access to all data in the WIS2 network. wis2box is designed to have a low barrier to entry for data providers, providing enabling infrastructure and services for data discovery, access, and visualization."
site_author: World Meteorological Organization
copyright: "&copy; 2023 World Meteorological Organization"
site_url: https://training.wis2box.wis.wmo.int
repo_url: https://github.com/wmo-im/wis2box-training
edit_uri: tree/main/documentation/docs

docs_dir: docs
site_dir: /tmp/html

nav:
    - Home: index.md
    - Practical sessions:
        - Connecting to WIS2 over MQTT: practical-sessions/connecting-to-mqtt.md
        - Accessing your student VM: practical-sessions/accessing-your-student-vm.md
        - Initializing the wis2box: practical-sessions/wis2box-introduction.md
        - Creating WIS2 discovery metadata: practical-sessions/configuring-wis2-discovery-metadata.md
        - Creating wis2box station metadata: practical-sessions/configuring-station-metadata.md
        - Converting SYNOP data to BUFR: practical-sessions/converting-synop-data-to-bufr.md
        - Converting CSV data to BUFR: practical-sessions/converting-csv-data-to-bufr.md
        - Automating data ingestion: practical-sessions/data-ingest-and-monitoring.md
        - Downloading and finding data from WIS2: practical-sessions/downloading-and-finding-data-from-wis2.md
        - Querying data using the WIS2Box-api: practical-sessions/data-api-usage-and-queries.md
    - Cheatsheets:
        - Linux: cheatsheets/linux.md
        - Docker: cheatsheets/docker.md
        - YAML: cheatsheets/yaml.md
        - WIS2 in a box: cheatsheets/wis2box.md

strict: true

use_directory_urls: true

theme:
    name: material
    palette:
        scheme: default
    features:
        - navigation.indexes
    favicon: https://public.wmo.int/sites/all/themes/wmo/favicon.ico
    logo: assets/img/wmo-logo.png

plugins:
    - search
    - print-site

markdown_extensions:
    - meta
    - admonition
    - pymdownx.details
    - pymdownx.superfences
    - footnotes
    - attr_list
    - md_in_html

extra_css:
    - assets/css/custom.css
